# =========================
# Python Cache & Bytecode
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Environment Files
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg
*.egg-info/

# =========================
# IDE Configs
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store

# =========================
# Local Data
# =========================
manual_review/queue.json
*.sqlite3
